<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swordForum.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.swordForum.model.User">
        <id column="uid" property="uid"/>
        <result column="uemail" property="uemail"/>
        <result column="upassword" property="upassword"/>
        <result column="unickname" property="unickname"/>
        <result column="usex" property="usex"/>
        <result column="ubirthday" property="ubirthday"/>
        <result column="ulevel" property="ulevel"/>
        <result column="headimg" property="headimg"/>
        <result column="ustatement" property="ustatement"/>
        <result column="uregtime" property="uregtime"/>
        <result column="ustate" property="ustate"/>
        <result column="upoint" property="upoint"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uid, uemail, upassword, unickname, usex, ubirthday, ulevel, headimg, ustatement, uregtime, ustate, upoint
    </sql>
    <select id="selectNicknameByUid" resultType="java.lang.String">
        SELECT unickname FROM user WHERE uid = #{uid}
    </select>
    <select id="selectEmailAndNickAndHeadByUid" resultType="com.swordForum.model.User">
        SELECT uemail, unickname, headimg FROM USER WHERE uid = #{uid}
    </select>


</mapper>
